body{
    margin: 0;

}
.top-container {
   background-image: url("https://images.unsplash.com/photo-1544731612-de7f96afe55f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
   height: 100vh;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
   
}
.top-container h1{
    color: rgba(184, 102, 40, 0.992);
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 3px;

}
.text{
    margin: 50px 5%;
    font-family: sans-serif;

}
.navbar{
    display: flex;
    position: fixed;
    background-color:whitesmoke;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgb(0,0,0,.3);
    transition: background-color 0.4s;
    
}
.navbar ul{
    display: flex;
    list-style: none;

}
.navbar ul li a{
    text-decoration: none;
    margin: 0 10px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.navbar ul li a:hover{
    color: brown;
}
.navbar.active{
    background-color: rgb(219, 216, 216);

}
.navbar .active ul li a{
    color: white;
}